[submodule "zsh.d/modules/zsh-completions"]
	path = .zsh.d/modules/zsh-completions/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "zsh.d/modules/zsh-syntax-highlighting"]
	path = .zsh.d/modules/zsh-syntax-highlighting/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh.d/modules/anyframe"]
	path = zsh.d/modules/anyframe
	url = https://github.com/mollifier/anyframe.git
[submodule "zsh.d/modules/auto-fu"]
	path = zsh.d/modules/auto-fu
	url = https://github.com/hchbaw/auto-fu.zsh.git
[submodule "zsh.d/modules/zsh-async"]
	path = .zsh.d/modules/zsh-async/zsh-async
	url = https://github.com/mafredri/zsh-async.git
