[submodule "zsh.d/modules/zsh-syntax-highlighting"]
	path = dot-zsh/modules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh.d/modules/anyframe"]
	path = zsh.d/modules/anyframe
	url = https://github.com/mollifier/anyframe.git
[submodule "zsh.d/modules/auto-fu"]
	path = zsh.d/modules/auto-fu
	url = https://github.com/hchbaw/auto-fu.zsh.git
[submodule "zsh.d/modules/zsh-async"]
	path = dot-zsh/modules/zsh-async
	url = https://github.com/mafredri/zsh-async.git
[submodule ".zsh/modules/zsh-history-filter"]
	path = dot-zsh/modules/zsh-history-filter
	url = https://github.com/MichaelAquilina/zsh-history-filter
[submodule "dot-zsh/modules/zsh-completions"]
	path = dot-zsh/modules/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
