[submodule "zsh.d/modules/zsh-completions"]
	path = zsh.d/modules/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "zsh.d/modules/zsh-syntax-highlighting"]
	path = zsh.d/modules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh.d/modules/zsh-syntax-highlighing"]
	path = zsh.d/modules/zsh-syntax-highlighing
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh.d/modules/anyframe"]
	path = zsh.d/modules/anyframe
	url = https://github.com/mollifier/anyframe.git
