#! /usr/bin/env zsh
# -*- mode: sh; coding: utf-8; indent-tabs-mode: nil -*-
#
# Code:
export DEBFULLNAME="[First Family]"
export DEBEMAIL="yourmail@yourdomain"
export KPKG_MAINTAINER=${DEBFULLNAME}
export KPKG_EMAIL=${DEBEMAIL}

# personal
export GPG_KEY_ID="You GPG Key id"
export PASSWORD_STORE_DIR=$HOME/.somewhere

# SKK
export SKKSERVER=127.0.0.1

# i3
export TERMINAL=urxvtcd

## for "VCS proxy" wrapper variables
export _http_proxy_server_=127.0.0.1
export _http_proxy_port_=8080
## main proxy settings
export http_proxy="http://$_http_proxy_server_:$_http_proxy_port_"
export ftp_proxy=$http_proxy

## show vcs_info
export _PR_GIT_UPDATE_=0
